{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <section id= "starting">
		<div class="starting-wrapper">
			<div class="container">
				<div class="row">
				<div class="team-button">
					<div class="col-md-12">
						<h1 class="main-title wow animated fadeInLeft">About Us</h1>
					</div>
					<div class="col-md-12">
						<h2 class="sub-title wow animated flipInX" data-wow-delay="1s">Meet With Our Team</h2>
					</div>
				</div>
				</div>	
			</div>
		</div>
	</section>
	<section id="company-intro">
		<div class="container">
			<p>Welcome to MockTest - the best IOE, IOM and MOE Exam Preparation Coach. Take advantage of our Free Mock Tests as well as Paid Mock Tests to pass the exam with flying colors. Avail Rs. 100/- off Paid Mock Tests using coupon code.
Mock Tests consist of Multiple Full-length Online Mock Tests served randomly from a question bank of 5000 Real-like Questions. Each mock test can be attempted 3 times within a period of 30 days. Get Answers and Explanations for Complex and Tricky Questions after completing each Mock Test. Best of Luck.</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>	
	</section>

	<section class= "doctor-list">
		<div class= "container">
			<div class= "row">
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor1.jpg" alt="">
						</div>
						<div class= "doctor-info">

							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>

							<div class= "row">
								<div class= "position text-center">
									Orthopedic Surgeon
								</div>
							</div>

							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor2.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									gynecologist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor3.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									ent specialist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor4.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									radiologist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor5.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									cardiologist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor6.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									dentist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>
							
							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>


   {% include 'footer.html' %}

{% endblock %}