{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <section id= "starting">
		<div class="starting-wrapper">
			<div class="container">
				<div class="row">
				<div class="team-button">
					<div class="col-md-12">
						<h1 class="main-title wow animated fadeInLeft">About Us</h1>
					</div>
					<div class="col-md-12">
						<h2 class="sub-title wow animated flipInX" data-wow-delay="1s">Meet With Our Team</h2>
					</div>
				</div>
				</div>	
			</div>
		</div>
	</section>
	<section id="company-intro">
		<div class="container">
			<p>Welcome to the leading online mock test platform for the preparation of IOE, IOM and MOE.
Onlinemocktest.com was made with the aim of enhancing the student ability of solving problem. A module test with complete format of examination taken from IOE, IOM and MOE helps student to get the idea of the exam and practice accordingly.</p>
			<p>This site provides you the podium to practice the entrance exam in similar model as IOE, IOM and MOE. 
There are different sets of question which is free and locked. The locked one can be unlocked by a code. You can get code by buying a coupon. Coupon of Nrs. 100 gives you the access to 10 question sets. There is also a master coupon of Nrs. 500 and Nrs. 1000 which gives you the access to entire question set of one section (IOE/IOM/MOE) and access to the entire sets of all section (IOE, IOM and MOE) respectively. You will be evaluated after completion of every sets and will get to know the mistakes and the hints to solve them as well.</p>
<p>The coupons are available at !!!!!!</p>
		</div>	
	</section>

	<section class= "doctor-list">
		<div class= "container">
			<div class= "row">
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor1.jpg" alt="">
						</div>
						<div class= "doctor-info">

							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>

							<div class= "row">
								<div class= "position text-center">
									Orthopedic Surgeon
								</div>
							</div>

							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor2.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									gynecologist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class= "col-lg-4 col-sm-6 col-xs-12">
					<div class= "doctor-meta">
						<div class= "doctor-img">
							<img class= "img-responsive center-block" src="assets/img/doctor3.jpg" alt="">
						</div>
						<div class= "doctor-info">
							<div class= "row">
								<div class= "doctor-name text-center">
									john doe
								</div>
							</div>
							<div class= "row">
								<div class= "position text-center">
									ent specialist
								</div>
							</div>
							<div class= "row">
								<div class= "doctor-des text-center">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
									</p>
								</div>
							</div>

							<div class= "row">
								<div class="doctor-social text-center">
									<ul class="contact">
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Connect with Skype"><i class="fa fa-skype"></i></a>
										</li>
										<li class="online-contact">
											<a href="#" data-toggle="tooltip" title="Share in Google +"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>


   {% include 'footer.html' %}

{% endblock %}