{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
	<section class="contact-title text-center">
		<div id="map-canvas" class="contact-wrapper">
		</div>
	</section>

	<section class="contact-content">
			<div class="container">
				<div class="row">
					<div class="col-md-4 contact-article">
						<h2>Have A Question?</h2>
						<p class="contact-left-content-p">
							Praesent lacinia dapibus, accumsan vesti bulum. Pellen tesque molestie mollis.
						</p>
						<p class="contact-left-content-p">
							Mauris nec ligula dui, fermentum nisl ut magna dolor, rhoncus wisi. In lacus sagittis luctus, nisl eros, sit amet tempor et, accumsan eget, pede. Suspendisse est. Ut rhoncus eu, pede. Vestibulum ante ipsum dolor lorem, iaculis mi. Pellentesque eu urna eget dolor. Duis luctus a, dolor. Duis ac sapien.
						</p>
						<p class="contact-left-content-p">
							Estibulum dapibus, maurimalesfames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus ultricies gravida vitae...
						</p>
					</div>
					<div class="col-md-4 contact-form">
						<h2>Leave A Message</h2>
						<div id="contactFormResponse">
							
						</div>
						<form id="contactForm" action="{% url 'contactus' %}" method="post" enctype="multipart/formdata">{% csrf_token %}
							<div class="form-group">
							    <input type="text" class="form-control contact-form-control" name="name" id="name" placeholder="Full Name">
							</div>
							<div class="form-group">
							    <input type="email" class="form-control contact-form-control" name="email" id="email" placeholder="Email Address">
							</div>
							<div class="form-group">
							    <textarea class="form-control contact-form-control" type="text" id="message" name="message" placeholder="Type your message here..."></textarea>
							</div>
							<button type="submit" name="submit" id="cfsubmit" class="contact-form-btn btn btn-primary" required>Send Message</button>
						</form>
					</div>
					<div class="col-md-4 contact-address">
						<h2>Contact Details</h2>
						<div class="contact-block clearfix">
							<div class="left-block">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="right-block">
								<h4 class="contact-block-heading">Office Address</h4>
								<p class="contact-block-paragrap"> Shankhamul, New baneshowr, Kathmandu ,Nepal </p>
							</div>
						</div>
						<div class="contact-block clearfix">
							<div class="left-block">
								<i class="fa fa-phone"></i>
							</div>
							<div class="right-block">
								<h4 class="contact-block-heading">Phone</h4>
								<p class="contact-block-paragrap">Local: 01-2343545</p>
								<p class="contact-block-paragrap">Mobile: 9843643758</p>
							</div>
						</div>
						<div class="contact-block clearfix">
							<div class="left-block">
								<i class="fa fa-envelope-o"></i>
							</div>
							<div class="right-block">
								<h4 class="contact-block-heading">Email Address</h4>
								<p class="contact-block-paragrap">info@Miracle.com</p>
								<p class="contact-block-paragrap">example@Miracle.com</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
   {% include 'footer.html' %}

{% endblock %}