{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
     <!-- Dashboard begins -->
        <section id="dashboard">
    
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- tab table begins -->
                            <div class="tabtable"> 
                                    <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">IOE</a></li>
                                    <li class="active2"><a href="#tab2" data-toggle="tab">IOM</a></li>
                                    <li class="active2"><a href="#tab3" data-toggle="tab">MOE</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <!-- IOE div starts -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 center">
                                                        <p><center><img src="{% static 'img/ioe-logo.png' %}" class="img img-responsive img-circle" alt="profile-pic" style="width:128px; height:128px;" ></center></p>
                                                        <h2>IOE Mock Test</h2>
                                                        <p>You can take one test for Free!</p>
                                                        <p>
                                                            <a href="{% url 'rules' 'IOE' '150' %}" class="btn btn-default btn-lg">Start Free Test</a>
                                                        </p>
                                                    </div>  
                                                </div>        
                                                <div class="row test-description">
                                    
                                                    <div class="col-md-9 center">
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1; border-left:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">100</h2>
                                                            <p>Questions</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">2 hours</h2>
                                                            <p>Total Time</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">5</h2>
                                                            <p>Subjects</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-fluid go-premium">
                                                <div class="row">
                                                    <div class="col-md-8 center">
                                                        <h2>Go Premium</h2>
                                                        <p>To practice more sets of question, Go premium. You can recharge Rs 100 and practice 10 Sets of question.</p>
                                                        {% if rechargeError != None %}<div class="alert alert-danger"> {{rechargeError}}</div>{% endif %}
														<p><button class="btn btn-primary" style="margin-top:10px;" data-toggle="modal" data-target="#rechargeModal" data-whatever="@mdo">Recharge</button></p>
														{% if qsetError != None %}<div class="alert alert-danger"> {{qsetError}}</div>{% endif %}
										    			{% if ioe_questionset|length > 0 %}
										    				
										    				{% for qset in ioe_questionset %}
										    					<div class="question-set"><a href="{% url 'rules' qset.qgroup qset.questionset %}" class="btn btn-default" >Question Set {{ qset.questionset|stringformat:"i" }}</a>{% if qset.status == True %} &nbsp;&nbsp;{{ qset.score|stringformat:"i" }}{% endif %}</div>
										    				{% endfor %}
										    			{% endif %}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- IOE div ends -->
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <!-- IOM div starts -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 center">
                                                        <p><center><img src="{% static 'img/iom-logo.png' %}" class="img img-responsive img-circle" alt="profile-pic" style="width:128px; height:128px;" ></center></p>
                                                        <h2>IOM Mock Test</h2>
                                                        <p>You can take one test for Free!</p>
                                                        <p>
                                                            <a href="{% url 'rules' 'IOM' '150' %}" class="btn btn-default btn-lg">Start Free Test</a>
                                                        </p>
                                                    </div>  
                                                </div>        
                                                <div class="row test-description">
                                    
                                                    <div class="col-md-9 center">
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1; border-left:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">100</h2>
                                                            <p>Questions</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">2 hours</h2>
                                                            <p>Total Time</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">5</h2>
                                                            <p>Subjects</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-fluid go-premium">
                                                <div class="row">
                                                    <div class="col-md-8 center">
                                                        <h2>Go Premium</h2>
                                                        <p>To practice more sets of question, Go premium. You can recharge Rs 100 and practice 10 Sets of question.</p>
                                                        {% if rechargeError != None %}<div class="alert alert-danger"> {{rechargeError}}</div>{% endif %}
															<p><button class="btn btn-primary" style="margin-top:10px;" data-toggle="modal" data-target="#rechargeModal" data-whatever="@mdo">Recharge</button></p>
															
                                                        {% if qsetError != None %}<div class="alert alert-danger"> {{qsetError}}</div>{% endif %}
										    			{% if iom_questionset|length > 0 %}
										    				
										    				{% for qset in iom_questionset %}
										    					<div class="question-set"><a href="{% url 'rules' qset.qgroup qset.questionset %}" class="btn btn-default" >Question Set {{ qset.questionset|stringformat:"i" }}</a>{% if qset.status == True %} &nbsp;&nbsp;{{ qset.score|stringformat:"i" }}{% endif %}</div>
										    				{% endfor %}
										    			{% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- IOM div ends -->
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <!-- MOE div starts -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 center">
                                                        <p><center><img src="{% static 'img/moe-logo.png' %}" class="img img-responsive img-circle" alt="profile-pic" style="width:128px; height:128px;" ></center></p>
                                                        <h2>MOE Mock Test</h2>
                                                        <p>You can take one test for Free!</p>
                                                        <p>
                                                            <a href="{% url 'rules' 'MOE' '150' %}" class="btn btn-default btn-lg">Start Free Test</a>
                                                        </p>
                                                    </div>  
                                                </div>        
                                                <div class="row test-description">
                                    
                                                    <div class="col-md-9 center">
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1; border-left:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">100</h2>
                                                            <p>Questions</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">2 hours</h2>
                                                            <p>Total Time</p>
                                                        </div>
                                                        <div class="col-md-4" style="border-right:2px solid #D0DEE1;">
                                                            <h2 style="margin-bottom:0px;">5</h2>
                                                            <p>Subjects</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-fluid go-premium">
                                                <div class="row">
                                                    <div class="col-md-8 center">
                                                        <h2>Go Premium</h2>
                                                        <p>To practice more sets of question, Go premium. You can recharge Rs 100 and practice 10 Sets of question.</p>
                                                        {% if rechargeError != None %}<div class="alert alert-danger"> {{rechargeError}}</div>{% endif %}
															<p><button class="btn btn-primary" style="margin-top:10px;" data-toggle="modal" data-target="#rechargeModal" data-whatever="@mdo">Recharge</button></p>
															
                                                        {% if qsetError != None %}<div class="alert alert-danger"> {{qsetError}}</div>{% endif %}
										    			{% if moe_questionset|length > 0 %}
										    				
										    				{% for qset in moe_questionset %}
										    					<div class="question-set"><a href="{% url 'rules' qset.qgroup qset.questionset %}" class="btn btn-default" >Question Set {{ qset.questionset|stringformat:"i" }}</a>{% if qset.status == True %} &nbsp;&nbsp;{{ qset.score|stringformat:"i" }}{% endif %}</div>
										    				{% endfor %}
										    			{% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MOE div ends -->
                                        </div>
                                    </div>
                            </div>
                            <!-- tab table ends -->
                        </div>
                    </div>
                </div>

                
            
        </section>
        <!-- Dashboard ends -->

   {% include 'footer.html' %}
   <div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">Recharge Here</h4>
		      </div>
		      <div class="modal-body">
		        <form action = "{% url 'recharge' %}" method = "POST">{% csrf_token %}
		          <div class="form-group">
		          	<select name="group" class="form-control">
		          		<option value="IOE">IOE</option>
		          		<option value="IOM">IOM</option>
		          		<option value="MOE">MOE</option>
		          	</select>
		  
		            <input type="text" class="form-control" id="pin" name = "pin" placeholder="Pin Number" autofocus required>
		          </div>
		          
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value = "Recharge">
			      </div>
		       </form>
		    </div>
		  </div>
	</div>

{% endblock %}
{% block footer %}
	<script type="text/javascript">
		$('#rechargeModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var recipient = button.data('whatever') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-title').text('New message to ' + recipient)
		modal.find('.modal-body input').val(recipient)
	});
	</script>
{% endblock %}