<!-- footer section start-->
        <footer class="upper-footer container-fluid">
            <div class="container" style="color:#fff;">
                <div class="col-md-4">
                    <div><a href="{% url 'home' %}">Home</a></div>
                    <div>Classes</div>
                    <div>FAQ</div>
                    <div>Contact Us</div>
                </div>
                <div class="col-md-4">
                    <div>Terms of Service</div>
                    <div>Privacy Policy</div>
                    <div>Subscription Plan</div>
                </div>
                <div class="col-md-4">
                    Follow Us<br/>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fa fa-facebook fa-stack-1x" style="color:orange;"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fa fa-twitter fa-stack-1x" style="color:orange;"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fa fa-google-plus fa-stack-1x" style="color:orange;"></i>
                    </span>
                    <div class="footer-margin"></div>
                </div>
            </div>
        </footer>
        <!-- footer section end -->
        <div id = "footerDiv" class = "navbar-fixed-bottom" style = "background-color:#F06E11;margin-bottom:0px; height: 30px; padding-top:2px;">
            <div class="container">
                <p class="footer-font" style="color:#fff;">Copyright* All Rights Reserved<span style="float:right;">Powered By: Get</span></p>
            </div>
        </div>