{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}

            <!-- Intro-->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                           
                            <p class="intro-text">Donate to Nepal Earthquake Relief.<br> Help Nepal Come Back</p>
                            <!-- <a href="#aids" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- intro ends -->
        <div class="container">
            <div class="row text-center" style="color:orange;font-size:30px;font-weight:bold;margin-top:20px;margin-bottom:20px;">Courses We Offer</div>
            <div class="row">
                <div class="col-md-5 img-center">
                    <img src="{% static 'img/engineer.jpg' %}" height="auto">
                    <div>Institute of Engineering(IOE)</div>
                    <a href="{% url 'engineer' %}"><div class="button">Get Started</div></a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 img-center" style="" height="auto">
                    <img src="{% static 'img/doctor.png' %}">
                    <div>Institute of Medicine(IOM)</div>
                    <a href="{% url 'doctor' %}"><div class="button">Get Started</div></a>
                </div>
            </div>
        </div>

        <div class="banner-bottom container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 .banner-bottom-body">
                        <div class="row" style="color:#fff;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque suscipit eros, non iaculis nisl. Etiam eget enim eu quam congue bibendum et nec neque. In fermentum erat vitae purus blandit iaculis. Morbi fermentum mi turpis, vitae elementum quam maximus ut. Vivamus nec nulla ut nulla rutrum consectetur vel eget sapien.
                        </div> 
                        <div style="text-align:left;" class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="{% static 'img/doctor.png' %}" style="background-color:white;" height=100 class="img-circle"/>
                            </div>
                            <div class="col-md-4 col-xs-8" style="padding-top:3%"><span style="font-weight:bold;color:orange;">Hello</span><br/><span style="color:#fff;">hello</span></div>
                        </div>
                       
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>            
        </div>

              
        {% include "footer.html" %}


{% endblock %}