{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}

<!-- Slider begins -->
        <div class="fullwidthbanner-container revolution">
            <div class="fullwidthbanner">
              <ul>
                <li data-transition="3dcurtain-vertical"> <img src="{% static 'img/slider4.jpg' %}" alt="" />
                    <div class="mask">
                        <div class="container slider-caption">
                            <div class="row">
                                <div class="slider-inner-text">
                                    <h1>Institute of Engineering</h1>
                                    <p>IOE is the most prestigious engineering institution in Nepal with market relevant programs and research works. You need to pass an entrance exam to enroll yourself into IOE. Join us to get the idea of IOE entrance model.</p>
                                    <p><a href="{% url 'ioestart' %}" class="btn btn-info hvr-icon-forward">Get Started</a></p>
                                </div>  
                            </div>
                        </div>
                    </div>
                </li>
                <li data-transition="3dcurtain-vertical"> <img src="{% static 'img/slider3.jpg' %}" alt="" />
                    <div class="mask">
                        <div class="container slider-caption">
                            <div class="row">
                                <div class="slider-inner-text">
                                    <h1>Institute Of Medicine</h1>
                                    <p>IOM is the most prestigious medicine institution in Nepal with the mandate and the responsibility of training all the categories of health manpower needed in the country. You need to pass an entrance exam to enroll yourself into IOM. Join us to get the idea of IOM entrance model.</p>
                                    <p><a href="{% url 'iomstart' %}" class="btn btn-info hvr-icon-forward">Get Started</a></p>
                                </div>  
                            </div>
                        </div>
                    </div>

                </li>
                <li data-transition="3dcurtain-vertical"> <img src="{% static 'img/slider1.jpg' %}" alt="" />
                    <div class="mask">
                        <div class="container slider-caption">
                            <div class="row">
                                <div class="slider-inner-text">
                                    <h1>Ministry Of Education</h1>
                                    <p>Ministry of Education is responsible for formulating educational policies and plans and managing and implementing them across the country through the institutions under it. MOE provides the scholarship for the candidates for the study of medicine. Join us to get the idea of IOE entrance model.</p>
                                    <p><a href="{% url 'moestart' %}" class="btn btn-info hvr-icon-forward">Get Started</a></p>
                                </div>  
                            </div>
                        </div>
                    </div>

                </li>
              </ul>
              
            </div>
            <!-- /.fullwidthbanner --> 
        </div>
        <!-- Slider ends -->
        <section class= "starting-text">
            <div class="container">
                <div class="row">
                    <div class="welcome">
                        <h2 class="welcome-title wow animated fadeIn" data-wow-delay="0.4s">Welcome To Our Online Mock Test</h2>
                        <p class="welcome-txt wow animated fadeIn" data-wow-delay="0.4s">Welcome to the leading online mock test platform for the preparation of IOE, IOM and MOE. Onlinemocktest.com was made with the aim of enhancing the student ability of solving problem. A module test with complete format of examination taken from IOE, IOM and MOE</p>
                        <a href="{% url 'about' %}" class="welcome-btn wow animated fadeIn" data-wow-delay="0.4s">Read More</a>  
                    </div>
                </div>
            </div>
        </section>

        <section id= "services">
            <div class= "container">
                <div class= "row">
                    <div class= "col-lg-12 col-sm-12 col-xs-12">
                        <h2 class= "headline text-center wow animated fadeIn" data-wow-delay="0.4s">
                            Our Services
                        </h2>
                        <!-- <p class="sub-headline text-center wow animated fadeIn" data-wow-delay="0.4s">
                            Lorem ipsum dolor sit amet, consectetur
                        </p> -->
                    </div>
                </div>
                
                <div class= "row">
                    <div class= "col-lg-4 col-sm-6 col-xs-12">
                        <div class= "hservice wow fadeInUp animated" data-wow-delay="0.6s">
                            <div class= "service-img">
                                <img class= "img-responsive center-block" src="{% static 'img/service1.jpg' %}" alt="">
                            </div>
                            <div class= "service-description text-center">
                                <h4 class= "service-heading">Institute Of Medicine</h4>
                                <p>IOM is the most prestigious medicine institution in Nepal with the mandate and the responsibility of training all the categories of health manpower needed in the country. You need to pass an entrance exam to enroll yourself into IOM. Join us to get the idea of IOM entrance model.</p>
                                <a href="{% url 'iomstart' %}" class="rm-btn btn btn-primary hvr-icon-forward">
                                        Get Started </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class= "col-lg-4 col-sm-6 col-xs-12">
                        <div class= "hservice wow fadeInUp animated" data-wow-delay="0.7s">
                            <div class= "service-img">
                                <img class= "img-responsive center-block" src="{% static 'img/service7.jpg' %}" alt="">
                            </div>
                            <div class= "service-description text-center">
                                <h4 class= "service-heading">Institute of Engineering</h4>
                                <p>IOE is the most prestigious engineering institution in Nepal with market relevant programs and research works. You need to pass an entrance exam to enroll yourself into IOE. Join us to get the idea of IOE entrance model.</p>
                                <a href="{% url 'ioestart' %}" class="rm-btn btn btn-primary hvr-icon-forward">
                                        Get Started </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class= "col-lg-4 col-sm-6 col-xs-12">
                        <div class= "hservice wow fadeInUp animated" data-wow-delay="0.8s">
                            <div class= "service-img">
                                <img class= "img-responsive center-block" src="{% static 'img/service3.jpg' %}" alt="">
                            </div>
                            <div class= "service-description text-center">
                                <h4 class= "service-heading">Ministry Of Education</h4>
                                <p>Ministry of Education is responsible for formulating educational policies and plans and managing and implementing them across the country through the institutions under it. MOE provides the scholarship for the candidates for the study of medicine. Join us to get the idea of IOE entrance model.</p>
                                <a href="{% url 'moestart' %}" class="rm-btn btn btn-primary hvr-icon-forward">
                                        Get Started </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id= "testimonial" class="text-center">
            <div class="testimonial-wrapper">
                <div class="container">
                    <div class="row client-content text-center">
                        <div class="col-md-12">
                            <div class="row">
                                <h1>Testimonial</h1>
                            </div>
                            <div class="row">
                                <div class="sub-headline">
                                    <p>What Our Clients Say About Us</p>
                                </div>
                            </div>
                            
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div id="client-speech">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-left"></i>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2">
                                                    <p class="client-comment text-center">
                                                        This platform has become really beneficial for me to practice entrance examination. The varieties of question sets and the evaluation factor has enhanced my confidence of securing good marks at the real IOE entrance exam.
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-right"></i>
                                                </div>
                                                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                                    <img class="img-circle img-responsive center-block" src="{% static 'img/client3.jpg' %}" alt="Image">
                                                </div>  
                                            </div>
                                            <div class= "row text-center">
                                                <p class="client-name text-center">Julia Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="item">
                            <div id="client-speech">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-left"></i>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2">
                                                    <p class="client-comment text-center">
                                                        When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-right"></i>
                                                </div>
                                                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                                    <img class="img-circle img-responsive center-block" src="{% static 'img/client1.jpg' %}" alt="Image">
                                                </div>  
                                            </div>
                                            <div class= "row text-center">
                                                <p class="client-name text-center">John Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div id="client-speech">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-left"></i>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2">
                                                    <p class="client-comment text-center">
                                                        When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-quote-right"></i>
                                                </div>
                                                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                                    <img class="img-circle img-responsive center-block" src="{% static 'img/client4.jpg' %}" alt="Image">
                                                </div>  
                                            </div>
                                            <div class= "row text-center">
                                                <p class="client-name text-center">Jane Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-angle-left fa-3x"></i>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-angle-right fa-3x"></i>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                        </div>
                        
                    </div> <!--  client-content  -->
                </div>
            </div>  
        </section>  <!-- testimonial -->

              
        {% include "footer.html" %}


{% endblock %}