{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <section id="login-page">

		<div class="container">
			<div class="col-md-offset-3 col-md-6 col-md-offset-3 login-form">
				<h2>{{  login }}</h2>
				{% if error != None %}<div class="alert alert-danger"> {{ error }}</div>{% endif %}
				{% if login == 'Login Here' %}
					<form class="form-horizontal" action="{% url 'login' %}" method="post">{% csrf_token %}
		                <fieldset>
		                    <div class="input-group input-group-lg">
		                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
		                        <input type="text" class="form-control" name="username" placeholder="Username or Email">
		                    </div>
		                    <div class="clearfix"></div><br>

		                    <div class="input-group input-group-lg">
		                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
		                        <input type="password" class="form-control" name="password" placeholder="Password">
		                    </div>
		                    <div class="clearfix"></div>

		                    <div class="input-prepend">
		                        <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
		                    </div>
		                    <p class="login-btn">
		                        <button type="submit" class="btn btn-primary">Login</button>
		                    </p>
		                    
		                </fieldset>
	            	</form>
            	{% endif %}					
			</div>
			<div class="col-md-offset-3 col-md-6 col-md-offset-3 fp">
				<p><a href="#">Forget your Password?</a></p>
			</div>
			<div class="col-md-offset-3 col-md-6 col-md-offset-3 fp">
				<p>Don't have a account.<a href="{% url 'register' %}">Register</a> here</p>
			</div>
			
		</div>		
		
	</section>
    
   {% include 'footer.html' %}

{% endblock %}