{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <div class="container">
    	<div class="text-center title" style="color:orange;">{{  login }}</div>
    	<div class="col-md-4 col-md-offset-4">
			<span style="color:red;">{{ error }}</span>
			{% if login == 'Login Here' %}
		        <form id="login_form" method="post" action="{% url 'login' %}">
		            {% csrf_token %}
		            <input type="text" name="username"  class="form-control input-area" placeholder="Username" />
					<br/>
		            <input type="password" name="password" class="form-control input-area" placeholder="Password" />
		            <br/>
		            <input type="submit" class="btn btn-warning" value="Login" />
		        </form>
	        {% endif %}
	    </div>
    </div>

   {% include 'footer.html' %}

{% endblock %}