<!-- Top Navbar -->
    <div class="top-header">

        <div class="container-fluid">
            <div class="col-md-6 col-xs-6" style="color:#fff; padding-top:3px;">
                <i class="fa fa-envelope">&nbsp;</i><a href="#">Email:support@gmail.com</a>
            </div>
            <div class="col-md-6 col-xs-6" style="padding-top:3px;">
                <p class="text-right" >
                    {% if not user.is_authenticated %}
                       <a href="{% url 'login' %}">Login</a>&nbsp|&nbsp<a href="{% url 'register' %}">Register</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>    
    
    <section class= "navs">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="{% url 'home' %}">
                        <span><i class="fa fa-home"></i></span>
                        MockTest
                    </a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home' %}" {% if title == 'Home' %}class="active"{% endif %}><span style="color:#fff;">Home</span></a></li>
                        <li><a href="{% url 'about' %}" {% if title == 'About Us' %}class="active"{% endif %}><span style="color:#fff;">About Us</span></a></li>
                        <li class="dropdown">
                                <a href="services.php" class="dropdown-toggle" data-toggle="dropdown">Services&nbsp<span class="caret"></span></b></a> 
                                  <ul class="dropdown-menu">
                                      <li><a href="#">IOE Entrance Preparation</a></li>
                                      <li><a href="#">IOM Entrance Preparation</a></li>
                                      <li><a href="#">MOE Entrance Preparation</a></li>
                                    
                                   </ul>
                             </li>
                        <li><a href="{% url 'classes' %}" {% if title == 'Classes' %}class="active"{% endif %}><span style="color:#fff;">Classes</span></a></li>
                        <li><a href="{% url 'faq' %}" {% if title == 'FAQ' %}class="active"{% endif %}><span style="color:#fff;">FAQs</span></a></li>
                        <li><a href="{% url 'contactus' %}" {% if title == 'Contact Us'  %}class="active"{% endif %}><span style="color:#fff;">Contact Us</span></a></li>
                        <!-- <li class="active"><a href="index.php">Home</a></li>
                        <li class=""><a href="about.php">About</a></li>
                        <li class=""><a href="services.php">Services</a></li>
                        <li class=""><a href="faq.php">FAQs</a></li>
                        <li class=""><a href="gallery.php">Gallery</a></li>
                        <li class=""><a href="contact.php">Contact Us</a></li> -->
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container-fluid -->
        </nav>
    </section>