{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <section id="login-page">

		<div class="container">
			<div class="col-md-offset-3 col-md-6 col-md-offset-3 login-form">
				{% if not success %}
					<h2>Forgot Password</h2>
				{% endif %}
				{% if error != None %}<div class="alert alert-danger"> {{ error }}</div>{% endif %}

				{% if success %}
					<b>A link has been sent to you to recover password.</b>
				{% endif %}
				
				{% if not success %}
					<form class="form-horizontal" action="{% url 'forgotpassword' %}" method="post">{% csrf_token %}
		                <fieldset>
		                    <div class="input-group input-group-lg">
		                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		                        <input type="email" class="form-control" name="email" placeholder="Enter Your Email"/>
		                    </div>
		                    <div class="clearfix"></div><br>
		                    
		                    <p class="login-btn">
		                        <button type="submit" class="btn btn-primary">Submit</button>
		                    </p>
		                    
		                </fieldset>
	            	</form>
            	{% endif %}
			</div>
			
			
		</div>		
		
	</section>
    
   {% include 'footer.html' %}

{% endblock %}

