{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}
    <section id="login-page">

		<div class="container">
			<div class="col-md-offset-3 col-md-6 col-md-offset-3 login-form">
				<h2>Recover Password</h2>
				{% if error != None %}<div class="alert alert-danger"> {{ error }}</div>{% endif %}
				
					<form class="form-horizontal" action="{% url 'recoverpassword' %}" method="post">{% csrf_token %}
		                <fieldset>
		                    <div class="input-group input-group-lg">
		                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
		                        <input type="text" class="form-control" name="key" placeholder="Enter Key"/>
		                    </div>
		                    <div class="clearfix"></div><br>
		                    
		                    <p class="login-btn">
		                        <button type="submit" class="btn btn-primary">Submit</button>
		                    </p>
		                    
		                </fieldset>
	            	</form>
            				
			</div>
						
		</div>		
		
	</section>
    
   {% include 'footer.html' %}

{% endblock %}



