{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        
    {% include 'navbar.html' %}

    <section id="dashboard-question">
			<div class="container" >
				<div class="col-md-6">
					<p>Welcome : User</p>
				</div>
				
				<hr/>

				
                    <div class="container">
                      <div class="row">
                      	<form action="{% url 'checkset' qgroup qset %}" method="POST">{% csrf_token %}

                        <div class="col-md-9 questions">
                          <div id="owl-demo" class="owl-carousel">
                          
			                    <div class="item">
				                    	{% for question in first_group %}  
					                   
											<div class="col-xs-1">{{ question.questionno }}.</div>
											<div class="col-xs-11">{{ question.question }} {% if question.qfile != "" %}<img src="/media/{{ question.qfile }}">{% endif %}
											{% if qgroup == 'IOE' %}
												<div class="col-md-offset-1">
													{% for answer in question.answerioe_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
														
													{% endfor %}
												</div>
											{% endif %}

											{% if qgroup == 'IOM' %}
												<div class="col-md-offset-1">
													{% for answer in question.answeriom_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
														
													{% endfor %}
												</div>
											{% endif %}
											{% if qgroup == 'MOE' %}
												<div class="col-md-offset-1">
													{% for answer in question.answermoe_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
													{% endfor %}  
												</div>
											
											{% endif %}
											</div>
										
										{% endfor %}
									</div>
									<div class="item">
				                    	{% for question in second_group %}  
					                   
											<div class="col-xs-1">{{ question.questionno }}.</div>
											<div class="col-xs-11">{{ question.question }} {% if question.qfile != "" %}<img src="/media/{{ question.qfile }}">{% endif %}
											{% if qgroup == 'IOE' %}
												<div class="col-md-offset-1">
													{% for answer in question.answerioe_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
														
													{% endfor %}
												</div>
											{% endif %}

											{% if qgroup == 'IOM' %}
												<div class="col-md-offset-1">
													{% for answer in question.answeriom_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
														
													{% endfor %}
												</div>
											{% endif %}
											{% if qgroup == 'MOE' %}
												<div class="col-md-offset-1">
													{% for answer in question.answermoe_set.all|dictsort:'choice' %}
														
														{{ answer.choice }})&nbsp;<input type="radio" name={{ question.questionno|stringformat:"i" }} value={{ answer.choice }} />&nbsp;{{ answer.answer }}<br/>
													{% endfor %}  
												</div>
											
											{% endif %}
											</div>
										
										{% endfor %}
										<input type="submit"  id= 'submit' class="btn btn-warning" value="Submit" />
	                        			</form>
									</div>
                            
                          </div>
                        </div>

                        <div class="col-md-3">
                        	<div class="status">
                        		<p>Time Left: <p id="time"></p></p>
                        		<p>Questions Attempted : <p id=""></p></p>
                        		<p>Questions Left : <p id="display"></p></p>
                        	</div>
                        	
                        </div>

                      </div>
                    </div>


			</div>

		</section>
   {% include 'footer.html' %}

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var tim;

        var min = 1;
        var sec = 5;
        var f = new Date();
        f1();
        function f1() {
            f2();
            document.getElementById("time").innerHTML = "Your started your Exam at " + f.getHours() + ":" + f.getMinutes();
             
          
        }
        function f2() {
            if (parseInt(sec) > 0) {
                sec = parseInt(sec) - 1;
                document.getElementById("time").innerHTML = "Your Left Time  is :"+min+" Minutes ," + sec+" Seconds";
                tim = setTimeout("f2()", 1000);
            }
            else {
                if (parseInt(sec) == 0) {
                	min = parseInt(min) - 1;
                    if (parseInt(min) < 0) {
                        clearTimeout(tim);
                        $('#submit').click();
                        // location.href = "default5.aspx";
                    }
                    else {
                        sec = 60;
                        document.getElementById("time").innerHTML = "Your Left Time  is :" + min + " Minutes ," + sec + " Seconds";
                        tim = setTimeout("f2()", 1000);
                    }

                }
               
            }
        }
        display = document.getElementById("display");
		unans_question = [];
		for(i=1; i<5; i++){
			unans_question.push(i);
			$('input:radio[name="'+i+'"]').change(function(){
				if($(this).is(':checked')){
					var num = parseInt($(this).attr('name'));
					delete(unans_question[unans_question.indexOf(num)]);
					displaylist(unans_question);
				}
			});
		}
		displaylist(unans_question);
		function displaylist (a) {
			display.innerHTML='';
			for(i=0; i<a.length;i++){
				if(a[i]!= undefined){
					display.innerHTML += a[i]+"  ";	
				}
			}
		}

	</script>
{% endblock %}