

 * {outline: none !important;}


/*============================================Global============================================ */

li a
{
    text-decoration: none;
}
.form-control, .input-group-addon
{
    border-radius: 0px;
}
.title
{
    padding: 50px 0px;
    margin-top: 65px
}
a 
{
    color: darkcyan;
}
a:hover
{
    text-decoration: none;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

.pagination
{
    border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #46A1B4;
    border-color: #5FA8AB;
}
.pagination>li>a, .pagination>li>span {

color: #085A6C;
background-color: #fff;
border: 1px solid #ddd;
}

p
{
    font-family: 'Dosis', sans-serif;
    word-spacing: 3px;
    font-size: 17px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 200;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.send 
{
    margin-bottom: 20px;
}

.owl-pagination 
{
    display: none;
}

.center{
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}
/* ----------------------------------------Header --------------------------------------------*/
.top-header{
    height: 30px;
    background: #3f91a2;
}
.top-header p{
    color: #fff;
    margin-top:-3px;
    font-size: 16px;
    font-weight: 300;

}
.top-header a{
    margin-top: 5px;
    color: #fff;
}
.section-title
{
    background: url(../img/6177817673_5ba53ffc2a_z.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}
.section-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.section-wrapper
{
    background-color: rgba(45, 53, 56, 0.78);
    padding: 78px 0px;
    margin-top: 65px;
}


.section-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

/* --------------------------------------  navs  ----------------------------------------------- */

.logo
{
    font-family: 'Dosis', sans-serif;
}
.nav.navbar-nav 
{
    /* padding: 0px 20px; */
}
.navbar-default
{
    /*background-color: #267D90;*/
    background-color: #46A1B4;
}
.navbar-default .navbar-header .logo
{
    font-size: 32px;
    color: #fff;
}
.navbar-nav li 
{
    /* border-right: 1px solid #54aec2; */
    padding: 7px 0px;
}
.navbar-default .navbar-nav li a 
{
    text-shadow: 1px 1px 0px #20606D;
    color: #fff;
}
.navbar-default .navbar-nav>.active
{
    /*background-color: rgba(5, 207, 252, 0.62);*/
    background-color: rgba(76, 214, 245, 0.62);
    border-top: 4px ridge rgb(5, 207, 252);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus 
{
    color: #fff;
}
li:last-child 
{
    border-right: transparent;
}
.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
    background-color: #377F8F;
    color: white;
    border-bottom: 4px ridge rgb(5, 207, 252);
}
.navbar-fixed-top .navbar-collapse
{
    /* max-height: 415px; */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active:hover 
{
    background-color: rgba(5, 207, 252, 0.62);
    border-bottom: none;
}
.active1
{
    background-color: rgba(5, 207, 252, 0.62);
    border-bottom: none;
}
/* -------------------------------------------Sidebar------------------------------------------- */
.blog-content aside .widget, .faq-content aside .widget
{
    margin-bottom: 40px;
}
.widget h4, 
{
    background: url("../img/title-bg.png") repeat-x scroll 0 4px rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
.widget.widget_iw_last_posts h5 
{
    margin-bottom: 5px;
    font-weight: 400;
}
.widget h4 span, .special-service h2 span
{
    background: white;
    padding-right: 10px;
}
.widget h5 
{
    text-transform: none;
    font-size: 14px;
    margin-top: 10px;
}
.widget ul 
{
    padding-left: 0;
    list-style: none;
}
.widget ul li 
{
    border-bottom: 1px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;
    display: block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.widget ul li:hover 
{
    background: #f8f8f8;
    padding-left: 10px;
}
.widget ul li:hover a
{
    text-decoration: none;
}
.widget ul li:before 
{
    color: #646464;
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 11px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.widget.widget_tag_cloud .tagcloud a 
{
    background-color: #eaeaea;
    border: 1px solid #f3f3f3;
    padding: 5px 10px;
    margin: 0 3px 8px 0;
    font-size: 14px !important;
    display: inline-block;
}



/* ========================================= 1. Home============================================= */


/* -------------------------------------- 1.1 heading-slider---------------------------------------- */

.mask{
    background-color: rgba(51, 71, 90, 0.32) !important;
    width: 100% !important;
    position: absolute;
    height: 100%;
    padding: 0;
    max-height: 565px !important;
    overflow: hidden !important;
    top: 0px;
}
.slider-inner-text
{
    margin: 262px 0px;
    width: 50%;
}

.slider-caption{
    position: absolute;
    color: #FFFFFF;
    top: 35px;
    left: 77px;
}
.slider-caption h1 
{
    margin-bottom: 30px;
    font-size: 55px;
}
.slider-inner-text p
{
    font-size: 23px;
    margin-bottom: 30px;
}
/*---------------------------------------------- 1.2 starting-text ----------------------------------*/

section.starting-text 
{
    background-color: rgba(70, 161, 180, 0.82);
    /*background: -webkit-linear-gradient(left top, #085A6C , #3E8B90);
    background: -o-linear-gradient(bottom right, #085A6C , #3E8B90);
    background: -moz-linear-gradient(bottom right, #085A6C , #3E8B90);
    background: linear-gradient(to bottom right, #085A6C , #3E8B90); */
    margin-top: -37px;
}
.welcome 
{
    padding: 48px 68px;
    text-align: center;
}
.welcome-title 
{
    font-size: 50px;
    padding-bottom: 15px;
    /*color: #B0FFF6;*/
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #083944;
}
.welcome-txt 
{
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    margin-bottom: 26px;
    padding-top: 26px;
    letter-spacing: 1px;
}
.welcome-btn
{
    background-color: #fff;
    margin-top: 20px;
    color: #46A1B4;
    border-radius: 0px;
    font-size: 16px;
    transition: all 0.3s ease-in;
    padding: 13px 20px;
    border: 2px solid #fff;
}
.welcome-btn:hover 
{
    color: white;
    background-color: #46A1B4;
}
/* ------------------------------------- 1.4 testimonial-------------------------------------------- */
#testimonial
{
    background: url(../img/1786577.jpg);
    width: 100%;
    background-size: cover;
    margin-top: 20px;
    color: rgb(134, 132, 132);
}
.testimonial-wrapper
{
    background-color: rgba(0, 0, 0, 0.87);
    padding: 40px 0px;
}
.client-content h1 
{
    font-size: 51px;
}
.sub-headline p 
{
    font-size: 23px;
}
.client-comment 
{
    font-size: 18px;
    padding: 30px 0px;
    line-height: 30px;
}
#client-speech img 
{
    margin-top: 40px;
    margin-bottom: 20px;
    border: 10px solid rgb(131, 129, 137);
}
#testimonial .img-circle{
    width: 200px;
    height: 200px;
}

/*======================================Company Intro=============================*/
#company-intro p{
    text-align: center;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    line-height: 35px;
}
#company-intro{
    padding: 30px 0 0 0;
}


/* ------------------------------------------  3.1 Team-list --------------------------------- */
.team-button {
    margin-top: -60px;
}
#starting
{
    background: url(../img/doctors-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width:1100px){

    .starting-wrapper {
    height: 400px;
    }
}
.starting-wrapper
{
    background-color: rgba(0,0,0,0.17);
    padding: 90px 0px;
    color: #fff;
}
.main-title {
    background-color: rgb(47, 79, 79);
    display: inline-block;
    padding: 23px 70px;
    float: right;
}
.sub-title 
{
    padding: 30px;
    float: right;
    background-color: darkslategrey;
}
team-list
{
    padding-top: 100px;
}
.team-meta
{
    margin: 100px 0px 70px 0px;
    padding: 120px 35px 36px;
    border: 1px solid rgba(59, 77, 116, 0.29);
    background-color: rgba(92, 145, 216, 0.27);
    position: relative;
}
.team-meta .team-img
{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -95px;
    border: 2px solid #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.team-meta .team-img img
{
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.team-info .team-name
{
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.team-info .position
{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}
.team-info .team-des
{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
.team-info .team-social .online-contact a
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: cadetblue;
    float: left;
    color: white;
    padding-top: 6px;
    padding-left: 2px;
}


/* ========================================= 4. FAQs============================================= */
.faq-title
{
    background: url(../img/6177817673_5ba53ffc2a_z.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}
.faq-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.faq-wrapper
{
    background-color: rgba(45, 53, 56, 0.62);
    padding: 100px 0px;
}


.faq-header{
    font-size: 2em;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


.faq-content
{
    margin-top: 40px;
}


.faq-c {
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-t {
  line-height: 1.5em;
  color: #aaa; 
  font-family: sans-serif; 
  float:left; 
  font-weight: 700; 
  padding-right: 0.62em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  margin-top: -5px;
}

.faq-q {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.25em;
    background: rgba(249, 249, 249, 0.5);
    font-weight: 100;
    padding: 16px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.faq-q:hover {
    box-shadow: 0 1px 5px 0 #626262;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.faq-a {
  clear: both;
  color: #666;
  display: none;
  padding: 1.5em;
}

/* ========================================= 7. Contact========================================== */
.contact-form h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(49,49,49);
    font-weight: 400;
    text-transform: capitalize;
}
.contact-address h2{
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(49,49,49);
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contact-form-control{
    height: 50px !important;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(149,149,149);
    font-weight: 400;
    background-color: rgb(242,242,242);
}
textarea.contact-form-control{
    height: 130px !important;
}
.contact-form-btn {
    font-family: 'Open Sans',sans-serif;
    color: rgb(255,255,255);
    font-weight: 400;
    background-color: #46A1B4;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0px;
}
.contact-form-btn:hover,.contact-form-btn:focus,.contact-form-btn.active,.contact-form-btn.active:hover,contact-form-btn.active:focus{
    color: rgb(255,255,255);
    font-weight: 400;
    background-color: #46A1B4;
    border: 0px;
}
.contact-article h2{
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(49,49,49);
    font-weight: 400;
}
.contact-left-content-p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(149,149,149);
}
.left-block {
    float: left;
    width: 15%;
    text-align: center;
}
.left-block i{
    font-size: 16px;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #46A1B4;
    color: #fff;
}
.right-block {
    float: left;
    width: 85%;
}
.contact-block-heading{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(49,49,49);
    font-weight: 400;
    margin-top: 0px;
}
.contact-block-paragrap{
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    color: rgb(149,149,149);
    font-weight: 400;
    margin-top: 10px;
}
.contact-block:after {
    content: '';
    width: 90%;
    border-bottom: 1px solid #ededed;
    left: 15%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-title
{
    background: url(../img/5501-world-map-1680x1050-digital-art-wallpaper.jpg);
    background-size: cover;
    vertical-align: middle;
    color: #F0FEFF;
    background-position: center;
}
.contact-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.contact-wrapper
{
    background-color: rgba(45, 53, 56, 0.71);
    padding: 78px 0px;
}
.contact-content
{
    margin-top: 100px;
    margin-bottom: 150px;
}

#map-canvas 
{
    width: 100%;
    height: 460px;
}
.quick-contact i 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #6DBEC2;
    color: white;
    padding-top: 12px;
    padding-left: 14px;
    font-size: 25px;
}
.quick-contact span 
{
    padding-left: 10px;
    font-size: 18px;
}
.quick-contact span 
{
    color: rgb(73, 77, 123);
}
.quick-contact {
    font-size: 17px;
    margin-bottom: 40px;
}
.msg-form
{
    padding: 20px 16px;
}
.msg-form .input-group
{
    display: inline-table;
    padding: 20px 0px;
}

/* ============================================Footer=========================================== */

#footer
{
    /*background-color: #085A6C;*/
    background-color: #46A1B4;
    /*background: -webkit-linear-gradient(left top, #085A6C , #3E8B90);
    background: -o-linear-gradient(bottom right, #085A6C , #3E8B90);
    background: -moz-linear-gradient(bottom right, #085A6C , #3E8B90);
    background: linear-gradient(to bottom right, #085A6C , #3E8B90); */
    padding: 25px 0px;
}
.copy-right-text
{
    color: #fff;
    font-size: 13px;
    padding-top: 25px;
}

.copy-right-text a {
    color: #AFEEEE;
    font-size: 15px;
    font-weight: 500;
}

.copy-right-text a:hover {
    color: #064B6D;
}


/* ----------------------------------- social media -------------------------------------------- */

.contact 
{
    padding-top: 10px;
    padding-left: 0px;
}
.contact li
{
    list-style: none;
    display: inline-block;
}
li.socials-icons 
{
    padding-left: 20px;
}
.socials-icons a
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    /* background: #6DBEC2; */
    background-color: #49C1DC;
    float: left;
    color: white;
    padding-top: 3px;
    font-size: 20px;
}
.facebook:hover
{
    background-color: #46629E;
    box-shadow: 0 0 0 2px #46629E;
    color: white;
}
.twitter:hover
{
    background-color: #0EAACE;
    box-shadow: 0 0 0 2px #0EAACE;
    color: white;
}
.google-plus:hover
{
    background-color: #AF0000;
    box-shadow: 0 0 0 2px #AF0000;
    color: white;
}
.instagram:hover
{
    background-color: #3f729b;
    box-shadow: 0 0 0 2px #3f729b;
    color: white;
}
.pinterest:hover
{
    background-color: #CB2027;
    box-shadow: 0 0 0 2px #CB2027;
    color: white;
}
.skype:hover
{
    background-color: #01AEF2;
    box-shadow: 0 0 0 2px #01AEF2;
    color: white;
}

/* =========================================Media Query========================================= */

@media (min-width: 1200px){
    .navbar-collapse.collapse 
    {
        display: block!important;
        height: auto!important;
        /* padding: 10px 0px; */
        overflow: visible!important;
    }
}
    
@media (min-width: 1200px){
    .navbar-collapse 
    {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 991px){
    .slider-inner-text {
        margin: 162px 0px;
    }
}

@media (max-width: 767px){
    .slider-inner-text {
        margin: 162px 58px;
        width: 62%;
    }
}

@media (max-width: 505px){
    section.content main .info li:not(:last-child) 
    {
        margin: 0 27px 10px 0;
    }   
    section.content main .info li 
    {
        border: 0 !important;
        display: inline;
        margin: 0;
        padding: 0px;
    }
    .slider-inner h1{
        font-size: 50px;
    }
    .slider-inner-text {
        margin: 162px 13px;
    }
    .slider-inner-text p
    {
        font-size: 19px;
    }
    .welcome {
        padding: 48px 20px;
    }
}
@media(max-width: 319px) {
    .heading-slider {
        display: none;
    }
}
.btn-info{
    padding: 10px;
}

/*===========================================Login page====================================*/
#login-page{
    background:#D0DEE1;
    width: 100%;
    height: auto;   
    padding: 50px 0;
}
.login-form{
    background: #F5F5F5;
    height: auto;
    border-radius: 7px; 
}
.login-form h2{
    margin-bottom: 20px;
    font-weight: 500; 
}
.login-form .input-group{
    margin-bottom: 10px;
}
.login-form input[type="text"],.login-form input[type="password"],.login-form input[type="email"]{
    height: 46px !important;
}
.login-form .login-btn{
    padding-left: 0px;
}
.login-form .login-btn .btn-primary{
    padding: 10px 20px;
}
.input-prepend{ margin: 10px 0;}
.fp p{
    margin-top: 10px;}
.fp p a{
    color: #000 !important;
    margin-top: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.fp p a:hover{
    color: darkcyan !important;
}


/*==============================================Dashboard section====================================================*/
#dashboard{
    width: 100%;
    height: auto;   
    padding: 50px 0 0 0;
}


#dashboard .btn-default {
    background-color: #46A1B4;
    color: white;
    border-radius: 0px;
    padding-left: 12%;
    padding-right: 12%;
}
#dashboard .test-description{
    margin-top:20px; 
    border-top:2px solid #D0DEE1;
    border-bottom:2px solid #D0DEE1;
    padding-bottom: 10px;
}

#dashboard .test-description .center{
    padding: 10px 0px;
}

#dashboard-question{
    background:#FFFFFF;
    width: 100%;
    height: auto;   
    padding: 50px 0;
}
#dashboard .btn-primary{
    padding: 10px 15px;
}
#dashboard hr, #dashboard-question hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px;
    border-top: 1px solid #eee;
}
#dashboard .go-premium{
    background:#E9EAEA;
    padding-top: 50px;
}
#dashboard .go-premium .btn-default{
    background-color: #FFFFFF;
    color: #000;
    padding: 2% 30%;
    margin-top: 5px;
    margin-bottom: 30px;

}
#dashboard .go-premium .btn-default:hover{
    background-color: #46A1B4;
    color: #FFFFFF;
}
#dashboard .go-premium .btn-default:hover .set-no,#dashboard .go-premium .btn-default:hover .marks{
    background-color: #46A1B4;
    color: #FFFFFF;
}
#dashboard .go-premium .set-no{
    font-size: 20px;
}
#dashboard .go-premium .marks{
    font-size: 14px;
    color: #46A1B4;
    font-weight: 600;
    /*color: red;*/
}

.rules{
    margin-bottom: 30px;
}
.rules ul{
    list-style:disc !important;
    padding-left: 20px;
    
}
.rules ul li{
    list-style:disc !important;
    margin-bottom: 15px;
}

#dashboard-question input[type='radio']{
    margin-right: 5px;
}

#dashboard-question .status{
    position:fixed; 
    background:#46A1B4; 
    color:#fff; 
    padding:20px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,.owl-theme .owl-controls .owl-buttons .owl-next {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 8px 20px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    opacity: 1 !important;
    background: #46A1B4;
}

#dashboard-question .questions{
    padding-top: 50px;
}


.owl-theme .owl-controls .owl-buttons .owl-prev{
    float: left;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
    float: right;
}

.owl-theme .owl-controls .owl-buttons{
    position: absolute;
    top: -50px;
    width: 100%;
}
/*Dropdown menu*/

 
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
  color: #377F8F;
  background-color: transparent;
}  
.navbar-nav>li>.dropdown-menu{
    background: #46A1B4;
}
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 5px;
       
  }

   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }

}  
.dropdown-menu > li > a{
  padding: 5px 20px;
}

/*==============================================Result Section=======================================*/
#result{
    background:#D0DEE1;
    width: 100%;
    height: auto;   
    padding: 50px 0;
}
#result .result-div{
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgba(0,0,0,.4);
}
#result .table tr{
    text-align: left !important;
    font-size: 18px;
}
#result .btn-primary{
    padding: 10px 40px;
}
/*==========================================Solution Section================================================*/
#solution{
    background:#D0DEE1;
    width: 100%;
    height: auto;   
    padding: 50px 0;
}
#solution .center{
    text-align: left;
}

/*=========================================About Section=====================================================*/
.sidebar-div
{
    margin-bottom: 40px;
}
.sidebar-div h4, 
{
    background: url("../img/title-bg.png") repeat-x scroll 0 4px rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.sidebar-div ul 
{
    padding-left: 0;
    list-style: none;
}
.sidebar-div ul li 
{
    border-bottom: 1px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;
    display: block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.sidebar-div ul li:hover 
{
    background: #f8f8f8;
    padding-left: 10px;
}
.sidebar-div ul li:hover a
{
    text-decoration: none;
}
.side-bar{
    padding: 30px 0px;
}
.about{
    margin-bottom: 30px;
}
.start-now-btn{
    padding: 2% 25%;
}
.about .headline{
    font-size:35px; 
    padding-top:35px; 
    margin-top:0px;
}
.about p{
    color:rgb(51, 51, 51); 
    line-height:1.8;
}



/*===============================================syllabus========================================================*/
#syllabus{
    padding: 30px 10px;
}
.panel-red{border-color:#D01B1E}.panel-red>.panel-heading{color:#000000;background-color:#D01B1E;border-color:#ebccd1}.panel-red>.panel-heading+.panel-collapse .panel-body{border-top-color:#ebccd1}.panel-red>.panel-footer+.panel-collapse .panel-body{border-bottom-color:#ebccd1}
.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;
}

.panel-heading.active{
  background: #46A1B4;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #c52d2f;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #c52d2f;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #46A1B4;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #46A1B4;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #46A1B4;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content li{
  margin-bottom: 10px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}
.panel{
    background-color: #e6e6e6;
    border: 0 none;
    box-shadow: none;
}
#md .table-responsive{
    background-color: #fff;
}
#md .table-responsive thead{
    background-color: #46A1B4;
    color: #fff;
    font-weight: 500;

}
.tab-content .col-md-6,.tab-content .col-md-12{
    padding-left: 0px;
}
/*===============================================Go-to-top=========================================================*/
.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: #ffffff;
    background-color: #3f91a2;
    font-size: 12px;
    padding: 1em;
    font-size: 16px;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }

.go-top:hover {
    color: #ffffff;
    background-color: #232732;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    }

/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}